*,
* ::after,
* ::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    display: flex;
}

#restart {
    border: 2px solid red;
    border-radius: 10px;
    margin: 20px 20% 0 20px;
    cursor: pointer;
}
#restart p {
    padding: 10px;
    font-size: 30px;
}

.main{
    border: 3px solid blue;
    border-radius: 30%;
    font-size: 40px;
}


.imgWrapper{
    height: 600px;
    margin-left: 50%;
    transform: translateX(-50%);
}
img {
    height: 600px;
}
.pole{
    display: flex;
    margin: 20px 0 0 35%;
    font-size: 24px;
}

.label{
    margin-right: 10px;
}

#knopkaOk{
    display: inline-block;
    width: 60px;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    margin-left: 35px;
    border: 3px solid grey;
    border-radius: 10px;
    cursor: pointer;
}

.answer{
    text-align: center;
}

.letter {
    font-size: 40px;
    letter-spacing: 10px;
    
}

.modalWrap {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(30, 126, 56);
    width: 500px;
    height: 200px;
    text-align: center;
    background-color: rgb(184, 200, 82);
    border-radius: 10px;
}

.modalWrap .text {
    font-size: 30px;
    font-weight: 600;

}

.modalWrap .newGameWrap {
    background-color:rgb(255, 255, 255);
    position: relative;
    top: 29%;
    width: 497px;
    height: 70px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modalWrap .newGameBtn {
    display: inline-block;
    border: 2px solid rgb(75, 75, 75);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(206, 206, 206);
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}

.modalWrap .newGameBtn:hover {
    box-shadow: -5px 2px 7px 0px;
}